.animate-pause {
    animation-play-state: paused;
}

/******************* crab movement ***************************/
:root {
    --crab-duration: 1s;
}

.rLeg1 { transform-origin: 33% 51.5%; }
.rLeg2 { transform-origin: 33% 52%; }
.rLeg3 { transform-origin: 34% 51.5%; }
.rLeg4 { transform-origin: 37% 45%; }
.lLeg1 { transform-origin: 62% 53%; }
.lLeg2 { transform-origin: 64% 44%; }
.lLeg3 { transform-origin: 63% 51%; }
.lLeg4 { transform-origin: 63% 45%; }


/* portrait */
@media screen and (max-aspect-ratio: 1/1) {
    .region1, .region2 {
        transition: top var(--crab-duration);
        animation-name: r-leg1;
        animation-duration: var(--crab-duration);
    }
}

/* landscape */
@media screen and (min-aspect-ratio: 1/1) {
    .region1, .region2 {
        transition: left var(--crab-duration);
    }
}


/*************** click star stuff ***************************/

.star {
    display: block;
    width: 30px;
    position: fixed;
    /* top and left set by clientX and clientY */
    z-index: 1;
    /* prevent click events from firing on stars */
    pointer-events: none;
    /* prevent ugly accidental selection */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    /* keep it faded out after animation end. */
    animation-name: star-fade;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes star-fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}